.Arriba{
    position: static;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 35px;
    background: white;
}

.Arriba2{
    width: 300px;
}

.Logo {
    width: 20px;
}

ul{
    margin-top: 4px;
    padding-left: 15px;
    display: flex;
    column-gap: 15px;
    font-size: 30px;
    list-style: none;
}

.opciones{
    text-decoration:none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.FuenteLogo {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 200%;
    text-decoration:none;
    color: black;
}