table {
    margin-top: 3%;
    margin-left: 1em;
    border-collapse: collapse;
    border-radius: 0.7em;
    overflow: hidden;
    width: 65%;
    font-size: 22px;
    text-align: center;
}

th, td {
    padding: 10px;

}
tr:nth-child(even) {background-color: #c0bdbd}

td:nth-child(7) {display: none;}
th:nth-child(7) {display: none;}

th {
    background-color: #04AA6D;
    color: white;
 }

 .iconEliminar{
    height: 30px;
    cursor: pointer;
 }